<p id="notice"><%= notice %></p>

<h1>Export Types</h1>

<table>
  <thead>
    <tr>
      <th>Type code</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @export_types.each do |export_type| %>
      <tr>
        <td><%= export_type.type_code %></td>
        <td><%= export_type.name %></td>
        <td><%= link_to 'Show', export_type %></td>
        <td><%= link_to 'Edit', edit_export_type_path(export_type) %></td>
        <td><%= link_to 'Destroy', export_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Export Type', new_export_type_path %>
