<p id="notice"><%= notice %></p>

<h1>Exports</h1>

<table>
  <thead>
    <tr>
      <th>Assigned number</th>
      <th>Pedimento number</th>
      <th>Export type</th>
      <th>Total</th>
      <th>Iva</th>
      <th>Notes</th>
      <th>Import date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exports.each do |export| %>
      <tr>
        <td><%= export.assigned_number %></td>
        <td><%= export.pedimento_number %></td>
        <td><%= export.export_type_id %></td>
        <td><%= export.total %></td>
        <td><%= export.iva %></td>
        <td><%= export.notes %></td>
        <td><%= export.export_date %></td>
        <td><%= link_to 'Show', export %></td>
        <td><%= link_to 'Edit', edit_export_path(export) %></td>
        <td><%= link_to 'Destroy', export, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Export', new_export_path %>
