<p id="notice"><%= notice %></p>

<p>
  <strong>Assigned number:</strong>
  <%= @export.assigned_number %>
</p>

<p>
  <strong>Pedimento number:</strong>
  <%= @export.pedimento_number %>
</p>

<p>
  <strong>Export type:</strong>
  <%= @export.export_type_id %>
</p>

<p>
  <strong>Total:</strong>
  <%= @export.total %>
</p>

<p>
  <strong>Iva:</strong>
  <%= @export.iva %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @export.notes %>
</p>

<p>
  <strong>Import date:</strong>
  <%= @export.export_date %>
</p>

<hr>

<table>
  <tr>
    <th>Part</th>
    <th>Quantity</th>
    <th>Import ID</th>
  </tr>
  <%- @export.exports_parts.each do |part| %>
    <tr>
      <td><%= part.part.part_number %></td>
      <td><%= part.quantity %></td>
      <td><%= part.imports_part.import.assigned_number %></td>
    </tr>
   <% end %> 
</table>

<%= link_to 'Edit', edit_export_path(@export) %> |
<%= link_to 'Back', exports_path %>
